*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #dbf1ff;
  gap:10px;
}
header{
    background-color: #002962;
    color: #f5f5f5;
   padding:10px;
    text-align: center;
  font-size:48px;
  font-weight: bold;
letter-spacing: 1px;

}
.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  padding: 20px;
}

/* DISPLAY */
#display{
  text-align: right;
  width:100%;
  height:60px;
  background-color: #fff;
  color:#000000;
  font-size:40px;
  font-weight: bold;
  border-radius:12px;
  padding:10px;
  overflow-x: auto;
}

/* CALCULATOR */
.calculator{
  width:100%;
  max-width:380px;
  background:#000;
  padding:15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* ROW FIX */
.row{
  display:flex;
  gap:8px;
  margin:6px 0;
}

/* BUTTON FIX */
button{
      background-color: #dbf1ff;
  color:rgb(0, 0, 0);
  flex:1;
  height:60px;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
 
  font-weight: bold;
}

button:active{
  transform: translateY(2px);
  box-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

button:hover{
  background-color: rgba(47, 116, 255, 0.964);
  color:#ffffff;
}

/* SPECIAL BUTTONS */
button.danger{
  background-color:#e54c1e;
  color: #ffffff;
}
button.danger:hover{
  background-color:#eb0c0c;
}

button.operator{
  background-color:#5699f7;
    color: #ffffff;
}


button.equal{
  background-color: rgb(40, 238, 40);
    color: #000000;
}

button.history{
  background-color:#5699f7;
}
button.sqroot{
 background-color:#5699f7;
   color: #ffffff;
}
/* ENTER BUTTON WIDER */
button.enter{
  flex:2;
  background-color: rgb(40, 238, 40);
}

/* FOOTER */
footer{
  background: rgba(129, 124, 124, 0.75);
  color:#000;
  width:100%;
  font-size:small;
  font-weight:bold;
  text-align:center;
  padding:10px;
}

/* MOBILE */
@media(max-width:600px){
header{
    font-size:32px;
}
  #display{
    padding:20px;
   height:50px;
    font-size:32px;
  }

  button{
    height:40px;
  }
}
