


body{
 display:flex ;
 flex-direction: column;
  width:auto;
    min-height: 100vh;
    background-color: #f5f5f5;
    background-image: url("calculator.jpg");
   background-size: cover;
   background-repeat: no-repeat;

margin:0;
}

.page{
display: flex;
flex-direction: column;
align-items: center;

 flex:1;
}


#display{
    text-align: right;
width :360px;
height:50px;
background-color: rgb(255, 255, 255);
color:rgb(5, 12, 17);
font-size:40px;
font-weight: bold;
border-radius: 10px;
  padding: 5px 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.calculator{
    width:360px;
    background:#000000;
    padding:15px;
    border-radius: 20px;
margin-left: 4px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.row{
margin-left: 4px;

    padding:2px;
white-space: nowrap;
}
button {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: #524aa2;
  color: white;
}

button:active{
  transform: translateY(2px);
  box-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

button:hover{
    background-color: rgba(58, 38, 209, 0.964);
     filter: brightness(1.1);
}
button.danger{
    background-color:#e54c1e;
}
button.danger:hover{
    background-color:#eb0c0c;
    filter: brightness(1.1);
}
button.operator{
    background-color:#1b4e96;
}
button.operator:hover{
    background-color:#1b0086;
    filter: brightness(1.1);
}

button.equal{
    background-color: rgb(16, 159, 16);
   
}
button.equal:hover{
    background-color:#025207;
     filter: brightness(1.1);
}
button.history{
    border-radius: 28px;
    background-color:#7e57e3;
}
button.history:hover{
    background-color: rgb(58, 42, 177);
    filter: brightness(1.1);
}

button.sqroot{
    background-color:  #1b4e96;
}
button.sqroot:hover{
    background-color:#1b0086;
      filter: brightness(1.1);
}
button.enter{
    width:130px;
    background-color: #15b31f;
}
footer{
  background: rgba(0,0,0,0.15);
  color:#000;
  width:100%;
  font-size:small;
  font-weight: bold;
 
}
@media(max-width:600px){
    body{
         background-image: url("calculator1.jpg");
    background-position:center;
    background-repeat: no-repeat;

    padding-right: 5px;
    }
    #display{
 width:270px;
height:35px;
font-size:30px;
border-radius: 10px;
}

    .calculator{
    width:280px;
}
button {
  width: 45px;
  height: 40px;
}
button.enter{
    width:100px;
    background-color: #15b31f;
}
}
